# include basic requirements
-r ./requirements.txt

# for development
django-debug-toolbar

# for unit testing
coverage
django-coverage-plugin
faker
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
